.genre_widget{
  
 margin:2em;
}

.closed{
  display:none;
}

.flex_master{
  display:flex;
  flex-direction:column;
  width:1200px
}

.flex_row{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

.flex_row div{
  color:#ff0000;
  margin:2em;
}

body{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.svg_container > svg{
z-index: -1;
}


